<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8"/>
<title>Edit offer</title>
</head>
<section layout:fragment="content">
<form th:action="@{/offer/edit}" th:object="${offer}" method="post">
		<div class="input-group">
			<label class="col-sm-2 control-label" th:text="#{hotelName.text}">Hotel:</label>
			<input type="text" class="form-control" th:field="*{hotelName}" />
		</div>
		<div class="input-group">
			<label class="col-sm-2 control-label" th:text="#{country.text}">Country:</label>
			<input type="text" class="form-control" th:field="*{country}" />
		</div>
		<div class="input-group">
			<label class="col-sm-2 control-label" th:text="#{city.text}">City:</label>
			<input type="text" class="form-control" th:field="*{city}" />
		</div>
		<div class="input-group">
			<label class="col-sm-2 control-label" th:text="#{hotelName.text}">Hotel:</label>
			<input type="text" class="form-control" th:field="*{hotelName}" />
		</div>
		<div class="input-group">
			<label class="col-sm-2 control-label" th:text="#{roomNumber.text}">Room number:</label>
			<input type="text" class="form-control" th:field="*{roomNumber}"
				placeholder="Name" />
		</div>
		<div class="input-group">
			<label class="col-sm-2 control-label" th:text="#{roomCapacity.text}">Room capacity:</label>
			<input type="text" class="form-control" th:field="*{roomCapacity}"
				placeholder="Surname" />
		
		</div>
		<div class="input-group">
			<label class="col-sm-2 control-label" th:text="#{price.text}">Price:</label>
			<input type="number" class="form-control" th:field="*{price}"
				placeholder="Surname" />
		</div>
		<div class="input-group">
			<label class="col-sm-2 control-label" th:text="#{description.text}">Description:</label>
			<input type="text" class="form-control" th:field="*{description}"
				placeholder="Surname" />
		</div>
		<input type="hidden" class="form-control" th:field="*{id}" />
		<br />
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<button type="submit" class="btn btn-primary"
					th:text="#{submit.text}">Submit</button>
			</div>
		</div>
	</form>
</section>
</html>