<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>403</title>

<link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet" />
<link th:href="@{/css/bootstrap-theme.css}" href="css/bootstrap-theme.css" rel="stylesheet" />
<link th:href="@{/css/style.css}" href="css/style.css" rel="stylesheet" />
</head>

<body style="background-color:black">

	<div class="page-404">
		<p class="text-404">Access denied</p>

		<br />
		<h2>Error 403</h2>
		<p>You do not have right permission to see this page</p>
		<br />
		<h1>
			<i><b><a href="index">Return Home</a></b></i>
		</h1>
	</div>
</body>
</html>
