<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>

<!-- bootstrap theme -->
<link href="css/bootstrap-theme.css"
	th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" />
<!-- font icon -->
<link href="css/elegant-icons-style.css"
	th:href="@{/css/elegant-icons-style.css}" rel="stylesheet" />
<link href="css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

<!-- Custom styles -->
<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<link href="css/jquery-ui-1.10.4.min.css"
	th:href="@{/css/jquery-ui-1.10.4.min.css}" rel="stylesheet" />

</head>

<body>
	<!-- container section start -->
	<section id="container" class="">


		<header class="header dark-bg">
			<div class="toggle-nav">
				<div class="icon-reorder tooltips"
					data-original-title="Toggle Navigation" data-placement="bottom">
					<i class="icon_menu"></i>
				</div>
			</div>

			<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->


			<!--LOGO start-->
			<a th:href="@{/}" class="logo">Luuk <span class="lite">&amp;</span>
				book
			</a>
			<!--LOGO end-->

			<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->

			<!--  HELLO form start -->

			 
			<a th:href="@{/}" class="logo" style="margin-left: 15%; width: 40%; "> 
			<span sec:authorize="hasRole('ROLE_USER')" th:text="|${logedUser.name}!|" Style="color:red; margin-right:4%"> </span> 
			<span sec:authorize="hasRole('ROLE_MANAGER')" th:text="|${logedUser.name}!|" Style="color:red; margin-right:4%"> </span> 
			<span class="lite">Begin adventure of a </span> lifetime!
			</a>




			<!--  HELLO form end -->

			<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->

			<div sec:authorize="hasRole('ROLE_ANONYMOUS')"
				class="top-nav notification-row">
				<a th:href="@{/login}" th:text="#{login.text}" class="logo"
					Style="color: #99C34B"> </a>
			</div>

			<div sec:authorize="hasRole('ROLE_ANONYMOUS')"
				class="top-nav notification-row">
				<a th:href="@{/user/add}" th:text="#{register.text}" class="logo"
					Style="color: #983EBB"> </a>
			</div>



			<!-- NOTIFICATION dropdown start-->
			<div sec:authorize="authenticated" >
				<div class="top-nav notification-row">

					<ul class="nav pull-right top-menu">


						<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->


						<!-- MAIL inbox notificatoin start-->

						<li id="mail_notificatoin_bar" class="dropdown"><a
							data-toggle="dropdown" class="dropdown-toggle" href="#"> <i
								class="icon-envelope-l"></i> <span class="badge bg-important"
								th:text="${msgNum}">Unreaded number</span>
						</a>
							<ul class="dropdown-menu extended inbox">
								<li>
									<p class="blue" th:text="#{message.recent.text}">Recent
										messages</p>
								</li>


								<li th:each="msg : ${topMessages}"><a th:href="@{/message//{id}/receiverDetails(id=${msg.id})}"> <span
										class="photo"> <img
											th:src="@{|~/${msg.permaSender.photoPath}|}" /></span> <span
										class="subject"> <span class="from"
											th:text="${msg.permaSender.email}">Sender</span>

									</span> <span class="message" th:text="${msg.text}"> Message
											text </span>
								</a></li>

								<li><a th:href="@{/message/inbox}"
									th:text="#{see.all.text}">See all</a></li>
							</ul></li>
						<!-- inbox notificatoin end -->


						<!-- 
          |
          |
          |<li th:each="offer : ${topOffer}"><a th:href="@{/offer/user/{id}/details(id=${offer.id})}"> <span
										class="photo"> <img
											th:src="@{|~/${msg.permaSender.photoPath}|}" /></span> <span
										class="subject"> <span class="from"
											th:text="${msg.permaSender.email}">Sender</span>

									</span> <span class="message" th:text="${msg.text}"> Message
											text </span>
								</a></li>
          |
          |
          |class="icon_book_alt"
          |
          |
          | -->



						<!-- ALERT notification start-->

						<li id="alert_notificatoin_bar" class="dropdown" sec:authorize="hasRole('ROLE_USER')"><a
							data-toggle="dropdown" class="dropdown-toggle" href="#"> <i
								class="icon-bell-l"></i> <span class="badge bg-important" th:text="${userOfferNum}">Offers number</span>
						</a>
							<ul class="dropdown-menu extended notification">
								<li>
									<p class="blue" th:text="#{offer.text}">Offers</p>
								</li>
								<li th:each="offer : ${topUserOffer}"><a th:href="@{/offer/user/{id}/details(id=${offer.id})}"> <span class="label label-success" >  <i
										class="icon_book_alt"> </i></span><span th:text="| Hotel: ${offer.hotelName}|" Style="margin:3%"> Hotel Name</span><br/>
										<span
										class="small italic pull-right" th:text="|Room number: ${offer.roomNumber}|"> Room number</span>

								</a></li>
								<li><a th:href="@{/offer/user/list}" th:text="#{see.all.text}">See all</a></li>
							</ul></li>
							
							
							<li id="alert_notificatoin_bar" class="dropdown" sec:authorize="hasRole('ROLE_OWNER')"><a
							data-toggle="dropdown" class="dropdown-toggle" href="#"> <i
								class="icon-bell-l"></i> <span class="badge bg-important" th:text="${ownerOfferNum}">Offers number</span>
						</a>
							<ul class="dropdown-menu extended notification">
								<li>
									<p class="blue" th:text="#{offer.text}">Offers</p>
								</li>
								<li th:each="offer : ${topOwnerOffer}"><a th:href="@{/offer/owner/{id}/details(id=${offer.id})}"> <span class="label label-success" >  <i
										class="icon_book_alt"> </i></span><span th:text="| Hotel: ${offer.hotelName}|" Style="margin:3%"> Hotel Name</span><br/>
										<span
										class="small italic pull-right" th:text="|Room number: ${offer.roomNumber}|"> Room number</span>

								</a></li>
								<li><a th:href="@{/offer/owner/list}" th:text="#{see.all.text}">See all</a></li>
							</ul></li>

						<!-- ALERT notification end-->

						<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->


						<!-- USER LOGIN dropdown start-->

						<li class="dropdown"><a data-toggle="dropdown"
							class="dropdown-toggle" href="#"> <span class="profile-ava">
									<img style="height: 40px; width: 40px;"
									alt="profile.photo.text" src="img/avatar1_small.jpg"
									th:src="@{|~/${logedUser.photoPath}|}" />
							</span> <span class="username" sec:authentication="name">username</span>
								<b class="caret"></b>
						</a>
							<ul class="dropdown-menu extended logout">
								<li class="eborder-top"><a th:href="@{/user}"> <i
										class="icon_profile"></i><span th:text="#{profile.text}">
											My Profile</span>
								</a></li>
								<li><a th:href="@{/message/inbox}"><i
										class="icon_mail_alt"></i> <span th:text="#{inbox.text}">
											My Inbox</span></a></li>
								<li><a th:href="@{/message/outbox}"><i
										class="icon_mail_alt"></i> <span th:text="#{outbox.text}">
											My Outbox</span></a></li>

								<li><a href="#"><i class="icon_clock_alt"></i> Timeline</a>
								</li>
								<li><a th:href="@{/user/edit}"><i class="icon_key_alt"></i>
										<span th:text="#{profile.edit.text}"> Edit Profile</span></a></li>

								<li>
									<form th:action="@{/logout}" method="post">
										<button type="submit" class="btn btn-primary"
											style="padding-left: 40%; padding-right: 33%;"
											th:text="#{logout.text}">Logout</button>
									</form>
								</li>
							</ul></li>
						<!-- USER LOGIN dropdown end -->

						<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->


					</ul>
					<!-- NOTIFICATION dropdown end-->
				</div>
			</div>

		</header>

		<!--HEADER END-->

		<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->


		<!--SIDEBAR start-->

		<aside>
			<div id="sidebar" class="nav-collapse" >

				<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->


				<!-- MENU sidebar start-->

				<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->

				<!-- MAIN PAGE start -->

				<ul class="sidebar-menu">
					<li class="active"><a class="" th:href="@{/}"> <i
							class="icon_house_alt"></i> <span th:text="#{mainPage.text}">Main
								Page</span>
					</a></li>

					<!-- MAIN PAGE end -->

					<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->

					<li class="sub-menu" sec:authorize="hasRole('ROLE_ADMIN')"><a
						href="javascript:;" class=""> <i class="icon_document_alt"></i>
							<span th:text="#{admin.panel.text}">Admin
								Panel</span> <span
							class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
							<li><a class="" th:href="@{/admin/userList}" th:text="#{userList.text}">Users list</a></li>
							<li><a class="" th:href="@{/admin/offerList}" th:text="#{offerList.text}">Offers list</a></li>
						</ul>
					</li>

					<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->

					<!-- FORMS start -->

					<!-- FORMS FOR OWNERS -->

					<li class="sub-menu" sec:authorize="hasRole('ROLE_OWNER')"><a
						href="javascript:;" class=""> <i class="icon_document_alt"></i>
							<span th:text="#{offer.text}">Offer</span> <span
							class="menu-arrow arrow_carrot-right"></span>
					</a>
						<ul class="sub">
							<li><a class="" th:href="@{/offer/owner/add}"
								href="/offer/add" th:text="#{offer.add.text}">Add offer</a></li>
							<li><a class="" th:href="@{/offer/owner/list}"
								href="/offer/owner/list" th:text="#{offer.owner.list.text}">Offers
									list</a></li>
						</ul></li>

					<!-- FORMS FOR USERS -->

					<li class="sub-menu" sec:authorize="hasRole('ROLE_USER')"><a
						href="javascript:;" class=""> <i class="icon_document_alt"></i>
							<span th:text="#{offer.text}">Offer</span> <span
							class="menu-arrow arrow_carrot-right"></span>
					</a>
						<ul class="sub">
							<li><a class="" th:href="@{/offer/user/search}"
								href="/offer/user/search" th:text="#{offert.search.text}">Offer
									search</a></li>
							<li><a class="" th:href="@{/offer/user/list}"
								href="/offer/userOffers" th:text="#{offer.user.list.text}">
									User reservations</a></li>
						</ul></li>

					<!-- FORMS end -->

					<!-- 
          |
          |
          |
          |class="icon_desktop"
          |class="icon_piechart"
          |class="icon_table"
          |class="icon_documents_alt"
          |
          | -->



				</ul>
				<!-- MENU sidebar end-->

				<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->
			</div>
		</aside>

		<!--SIDEBAR end-->

		<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->


		<!--MAIN CONTENT start-->

		<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->
		<section id="main-content">
			<section class="wrapper">
				<!--overview start-->
				<div class="row">
					<div class="col-lg-12">
						<section layout:fragment="content">Here come view using
							this layout</section>
					</div>
				</div>
			</section>
		</section>


		<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->

		<!--MAIN CONTENT end-->

		<!-- 
          |
          |
          |
          |
          |
          |
          |
          |
          | 
          |
          |
          |
          |
          |
          |
          |
          |
          | -->
	</section>
	<!-- container section start -->
	<!-- javascripts -->
	<script src="js/jquery.js" th:src="@{/js/jquery.js}"></script>
	<script src="js/jquery-ui-1.10.4.min.js"
		th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
	<script src="js/jquery-1.8.3.min.js"
		th:src="@{/js/jquery-1.8.3.min.js}"></script>
	<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"
		th:src="@{/js/jquery-ui-1.9.2.custom.min.js}"></script>
	<!-- bootstrap -->
	<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<!-- nice scroll -->
	<script src="js/jquery.scrollTo.min.js"
		th:src="@{/js/jquery.scrollTo.min.js}"></script>
	<script src="js/jquery.nicescroll.js"
		th:src="@{/js/jquery.nicescroll.js}" type="text/javascript"></script>
	<!--custome script for all page-->
	<script src="js/scripts.js" th:src="@{/js/scripts.js}"></script>
	<!-- custom script for this page-->

</body>

</html>
